<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403335323247-t4qthkaqh8l0484f6u3bdts04m9p303k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403335323247-t4qthkaqh8l0484f6u3bdts04m9p303k</string>
	<key>API_KEY</key>
	<string>AIzaSyDM9SVY8O3LduDvSVfPq8kVUF8KD4cZVQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>403335323247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.koolkwiz</string>
	<key>PROJECT_ID</key>
	<string>koolkwiz</string>
	<key>STORAGE_BUCKET</key>
	<string>koolkwiz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403335323247:ios:c1f6101be9ef3b962a779a</string>
</dict>
</plist>